@model TappointmentToGo.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Html.Name(Model.Name)</h2>

<hr />
<div class="row">
    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Model.MenuItems)
                {
                    var modelId = @model.Id.ToString();
                <tr id="item-@modelId">
                    <td>@Html.Name(model.Name)</td>
                    <td>@Html.Name(model.Description)</td>
                    <td>@Html.Name(model.Price.ToString())</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="btn btn-primary add-to-cart-button" style="cursor: pointer" data-id="@modelId">Buy</div>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 text-center" id="right-column">
        <h2>
            @Html.DisplayFor(model => model.Name)
        </h2>
        @if (!User.Identity.IsAuthenticated)
        {
            <strong>
                Please @Html.ActionLink("log in", "Login", "Account") or
                @Html.ActionLink("register", "Register", "Account") to be able to use the cart.
            </strong>
        }
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

@section scripts{
<script>
    $(function () {
        $(".add-to-cart-button").on("click", function (e) {
            var request = $.ajax({
                type: "POST",
                url: `/Cart/Index/${e.target.dataset["id"]}`
            });

            request.done(function (d) {
                popup("alert-success", "Success!", "Item added to cart.");

                $("#cart-items-number").text($("#cart-items-number").text() - 0 + 1);
            });

            request.fail(function (xhr, err) {
                debugger;
                popup("alert-danger", "Error!", err);
            });
        });
    })
</script>
}